<div class ="post-donate">
    <div id="donate_board" class="donate_bar center">
        <span class="donate_txt">
		   <%=theme.post.donate.donate_message%>
        </span>
		<input type="button" id="btn_donate" style="background-color: red; color: white; border: none; height=35; width=80" value="打赏"/>
        <br>
      </div>  
	<div id="donate_guide" class="donate_bar center" style="display: none">
		<!-- 支付宝打赏图案 -->
		<img src="/img/zhifubao.JPG" alt="支付宝打赏"> 
		<!-- 微信打赏图案 -->
		<img src="/img/wechatpay.jpg" alt="微信打赏">  
    </div>
	<script type="text/javascript">
		document.getElementById('btn_donate').onclick = function(){
			var qr=document.getElementById("donate_guide");
			"none"===qr.style.display?qr.style.display="block":qr.style.display="none"
		}
	</script>
</div>